<mat-form-field>
  <input matInput placeholder="Quizz name" [(ngModel)]="quizz.name">
</mat-form-field>

<div>
  <mat-slide-toggle [(checked)]="showDebug" (change)="showDebug = !showDebug">Show debug info</mat-slide-toggle>

  <button class="right" mat-raised-button (click)="save()" color="primary">Save quizz</button>
</div>

<div *ngIf="showDebug" class="debugPanel">
  <h2>Quizz JSON Object:</h2>
  <pre>{{ quizz | json}}</pre>
</div>

<mat-list>

  <h2 matSubheader>Questions:</h2>

  <button mat-fab (click)="newQuestion()">
      <mat-icon>playlist_add</mat-icon>
  </button>

  <div *ngFor="let q of quizz.questions; let i=index">
    <p>Question #{{ i+1 }}</p>
    <button mat-button (click)="duplicate(q)">Duplicate</button>
    <button mat-button (click)="remove(i)" color="warn">Remove</button>
    <app-question class="question-card" [question]="q" [editable]="true"></app-question>
  </div>
</mat-list>