<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <h2>Angular Reactive Form validation</h2>
     <div >



<div>
      <label for="source">Ville de départ</label>
   <select class="form-control" id="source" [(ngModel)]="source" >
      <option value="Lille">Lille</option>
    </select>    
</div>


<div>
      <label for="destination">Ville de destination</label>
   <select class="form-control" id="destination" [(ngModel)]="destination" >
      <option value="Paris">Paris</option>
    </select>    
</div>


<div>
<label for="duree">Budjet maximal du voyage</label>
<fieldset>

   <select class="form-control" id="budjet" [(ngModel)]="budjet"  required>
    <option value="10">10</option>
      <option value="8">8</option>
      <option value="6">6</option>
      <option value="4">4</option>
      <option value="2">2</option>
    </select>  </fieldset>

</div>

<div>
<label for="duree">Durée du voyage</label>
   <select class="form-control" id="duree" [(ngModel)]="duree" >
      <option value="3h00">3h00</option>
      <option value="3h30">3h30</option>
      <option value="4h00">4h00</option>
      <option value="4h30">4h30</option>
      <option value="5h00">5h00</option>
    </select> 
</div>
    
<p>
  <br>
</p>

</div>  
    	
        <button class="btn btn-success" type="button" id="buttonSearch" (click)="gt()">
          Rechercher </button>
        
      </div>
    </div>
  </div>
</div>
  
<div>
  <p> listing works</p>
</div>

